<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
    <script src="https://kit.fontawesome.com/116c39369e.js" crossorigin="anonymous"></script>
    <title>Macros</title>

    <script type="module" src="/js/app.js"></script>
</head>

<body>
    <div class="portal">
        <h1>{{title}} <i class="fas fa-utensils"></i></h1>
        <div class="search">
            <form class="form">
                <input type="text" placeholder="Ingredient" class="food_input" required>
                <input type="number" min="0" placeholder="1.0" class="amount_input" required>
                <select name="units" id="units">
                    <option value="gram">Grams</option>
                    <option value="ounce">Ounces</option>
                </select>
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="food_content">
        </div>

        <div class="total_content">

        </div>
    </div>
    <footer>
        <div class="container_foot">
            <p>Creator: Hieu Ngo</p>
            <div id="edamam-badge" data-color="white"></div>
        </div>
    </footer>
</body>

</html>